body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #0c3ba1;
    border-left: 1px solid #0c3ba1;
    padding: 12px;
  }
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(21, 156, 197);
    border-radius: 0;
    border-bottom: 15px solid rgb(21, 156, 197);
  }
  
  .description {
    white-space: pre-wrap;
  }
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  .past {
    background-color: #7c7878;
    color: #7c7878;
  }
  
  .present {
    background-color: #61b3ff;
    color: #61b3ff;
  }
  
  .future {
    background-color: #c9308e;
    color: #c9308e;
  }